@model IEnumerable<ChilLaxBackEnd.Models.FocusSlideWrapper>

@{
    ViewBag.Title = "專注頁面管理";
}

<h2>專注頁面管理</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>@TempData["InfoMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-primary" })
</p>

<div>
    @using (Html.BeginForm("List", "Focus", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <b>搜尋條件: </b>
                    <input type="radio" name="searchBy" value="情境" style="display:inline" checked />
                    <span>情境</span>
                    <input type="radio" name="searchBy" value="圖檔類型" style="display:inline" />
                    <sapn>圖檔類型</sapn>
                    <input type="radio" name="searchBy" value="音檔類型" style="display:inline" />
                    <sapn>音檔類型</sapn>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue", null, new { @class = "form-control", placeholder = "請輸入關鍵字" })
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="搜尋" class="btn btn-info" />
                </td>
            </tr>
        </table>
    }
</div>

<br />

<table class="table table-hover table-bordered">
    <tr>
        <th>
            <b>No.</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.category)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.image)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.audio)</b>
        </th>
        <th><b>編輯</b></th>
    </tr>

    @{
        int cnt = 0;
        foreach (var item in Model)
        {
            cnt++;
            <tr>
                <td>
                    @cnt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    <img src="~/assets/images/@item.image_path" width="150" height="80" style="border-radius: 5px" />
                </td>
                <td>
                    <audio src="~/assets/audios/@item.audio_path" controls>
                        Your browser does not support the audio element.
                    </audio>
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.focus_id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("刪除", "Delete", "Focus", new { id = item.focus_id }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    }
</table>