@model ChilLaxBackEnd.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>修改產品作業</h2>


@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>請輸入產品資訊</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="product_id" value="@Model.product_id" />

        <div class="form-group">
            產品名稱
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            供應商編號
            <div class="col-md-10">
                @Html.EditorFor(model => model.supplier_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.supplier_id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            產品價格
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            產品數量
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            產品類別
            <div class="col-md-5">
                <select name="product_category" class="form-control">
                    @if (Model.product_category == "紓壓小物")
                    {
                        <option value="紓壓小物" selected>紓壓小物</option>
                    }
                    else
                    {
                        <option value="紓壓小物">紓壓小物</option>
                    }
                    @if (Model.product_category == "擺飾裝飾")
                    {
                        <option value="擺飾裝飾" selected>擺飾裝飾</option>
                    }
                    else
                    {
                        <option value="擺飾裝飾">擺飾裝飾</option>
                    }
                    @if (Model.product_category == "按摩精油")
                    {
                        <option value="按摩精油" selected>按摩精油</option>
                    }
                    else
                    {
                        <option value="按摩精油">按摩精油</option>
                    }
                   @if (Model.product_category == "居家香氛")
                    {
                        <option value="居家香氛" selected>居家香氛</option>
                    }
                    else
                    {
                        <option value="居家香氛">居家香氛</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.product_category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            產品狀態
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.product_state)
                    @Html.ValidationMessageFor(model => model.product_state, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            產品描述
            <div class="col-md-10">
                @*<textarea name="product_desc" class="col-md-10" rows="15">@Model.product_desc</textarea>*@
                @Html.TextAreaFor(model => model.product_desc, 15, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            產品照片
            <div class="col-md-10">
                <input type="file" name="photo"class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出並儲存" class="btn btn-default" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("取消", "List")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>