@model IEnumerable<chilLax_Purchase.Models.ProductOrderDetail>

@{
    ViewData["Title"] = "List";
}

<h1>商品訂貨單列表</h1>

<p>
    <a asp-action="Create">商品訂貨單</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderPayment)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderTotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrder.OrderState)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(item => item.ProductOrder.OrderId))
        {
            var firstItem = group.First();
            var item = group;
            <tr class="clickable-row">
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.MemberName)
                </td>
             @*   <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderPayment)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderTotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.ProductOrder.OrderState)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", "CPurchase", new { id = firstItem.ProductOrder.OrderId },
                new { @class = "btn btn-success" }) |
                    @Html.ActionLink("刪除", "Detail", "CPurchase", new { id = firstItem.ProductOrder.OrderId },
                new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
                </td>
            </tr>
            <tr class="details-row" id="details-row-@(firstItem.ProductOrder.OrderId)" style="display: none;">
                <td colspan="7">
                    <!-- 詳細資料區塊 -->
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                                <th>@Html.DisplayNameFor(model => model.OrderDetail.CartProductQuantity)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.Subtotal)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in Model.Where(d => d.ProductOrder.OrderId == firstItem.ProductOrder.OrderId))
                            {
                               
                                <tr>
                                    <td>@detail.ProductName</td>
                                    <td>@detail.OrderDetail.CartProductQuantity</td>
                                    <td>@detail.ProductPrice</td>
                                    <td>@detail.Subtotal</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                let orderId = $(this).find("td:first").text().trim();
                let detailsRow = $("#details-row-" + orderId);

                if (detailsRow.is(":visible")) {
                    detailsRow.hide();
                } else {
                    $(".details-row").hide();
                    detailsRow.show();
                }
            });
        });
    </script>
}

